<template id="template-file-item">
    <li class="file-list__item" role="listitem">
        <div class="file-item">
            <div class="file-item__icon" aria-hidden="true">
                <img class="file-item__icon-img" alt="" />
            </div>
            <div class="file-item__content">
                <h2 class="file-item__name" role="heading" aria-level="2"></h2>
                <p class="file-item__details"></p>
            </div>
            <div class="file-item__actions">
                <button class="file-item__open-btn" type="button" aria-label="Open file">
                    <img src="images/eye.svg" alt="" aria-hidden="true" />
                </button>
                <button class="file-item__download-btn" type="button" aria-label="Download file">
                    <img src="images/download.svg" alt="" aria-hidden="true" />
                </button>
            </div>
        </div>
    </li>
</template>
